[submodule "vendor/dockerfile-mode"]
	path = vendor/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "vendor/egg"]
	path = vendor/egg
	url = https://github.com/bogolisk/egg.git
[submodule "vendor/smex"]
	path = vendor/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "vendor/undo-tree"]
	path = vendor/undo-tree
	url = https://github.com/martinp26/undo-tree.git
[submodule "vendor/git-commit-mode"]
	path = vendor/git-commit-mode
	url = https://github.com/rafl/git-commit-mode.git
[submodule "vendor/fic-mode"]
	path = vendor/fic-mode
	url = https://github.com/lewang/fic-mode.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
[submodule "vendor/dash.el"]
	path = vendor/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "vendor/ag.el"]
	path = vendor/ag.el
	url = https://github.com/Wilfred/ag.el.git
[submodule "vendor/s.el"]
	path = vendor/s.el
	url = https://github.com/magnars/s.el.git
[submodule "vendor/youdao-translate.el"]
	path = vendor/youdao-translate.el
	url = git@github.com:xingxing/youdao-translate.el.git
[submodule "vendor/avy"]
	path = vendor/avy
	url = https://github.com/abo-abo/avy.git
[submodule "vendor/docker.el"]
	path = vendor/docker.el
	url = https://github.com/Silex/docker.el.git
